@charset "utf-8";

#hero{height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     background-image: url(../img/BG-3.jpg);
     background-size: cover;
     background-position: center;}


     header{display: flex;
            justify-content: space-between;
            padding: 20px;
            }
